.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  background-color: #847e89;
  margin-bottom: 2vmin;
  color: #c2d3cd; 
}

.NavBar span {
  color: rgb(108, 9, 87);
}