@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  font-family: "Noto Sans JP", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #c2d3cd;
  --color-secondary: #afbfc0;
  --color-tertiary: #9fa4a9;
  --color-quaternary: #847e89;
  --color-quinary: #56494c;

  color: black;
  background-color: var(--color-tertiary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
article,
nav a,
button,
form {
  font-family: "Noto Sans JP", system-ui, Avenir, Helvetica, Arial, sans-serif; 
  color: black;
}

article {
  padding: 2vmin;
  border: 0.5vmin solid var(--color-primary);
  border-radius: 1vmin;
  background-color: var(--color-quaternary); 
  margin-top: 2vmin;
}

h1,
h2 {
  text-align: center;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

button,
nav a {
  border: 0.5vmin solid var(--color-primary);
  border-radius: 0.5vmin;
  padding: 0.2vmin;
  font-size: 2vmin;
  font-weight: 500;
  background-color: var(--color-primary);
  color: black; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 0.4vmin 0.8vmin rgba(0, 0, 0, 0.2); 
}
button:hover,
nav a:hover {
  background-color: var(--color-secondary);
  color: black; 
  border-color: var(--color-secondary);
}
button:disabled {
  background-color: grey;
}

a {
  border-radius: 0.8vmin;
  padding: 0.5vmin;
  font-size: 2vmin;
  text-decoration: none;
  color: var(--color-primary);
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.5vmin solid var(--color-primary);
  border-radius: 1vmin;
  background-color: var(--color-quaternary); 
  margin-top: 2vmin;
}

input {
  padding: 0.7vmin;
  font-size: 2vmin;
  border: 0.3vmin solid var(--color-primary);
  border-radius: 0.5vmin;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.error-message {
  color: var(--color-tertiary);
}