.new-deck-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vmin;
}

.new-deck-btn {
    text-align: center;
}

.added-by {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vmin;
    margin-top: 2vmin; 
}